<h1>Tumblr Archive Import</h1>

<% if @archive.error %>
  <h2>Something went wrong</h2>
  <%= "#{@archive.error.class}: #{@archive.error}" %>
<% else %>
  <h2>Successfully imported <%= @archive.imported_files_count %> tumblr files!</h2> <%= @archive.skipped_count %> where skipped, because they are already imported.

  <% if @archive.failed_imports.any? %>
    <h3>The following reblogs failed to import:</h3>
    <ul>
    <% @archive.failed_imports.each do |file_name| %>
      <li><%= file_name %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
