div#page {
  background-color: $color-foreground;
  border-radius: $border-radius-full;

  overflow: visible;
  padding: 0.5rem;
  height: inherit;
}

.footer-padding {
  min-height: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
  border-radius: $border-radius-full $border-radius-full 0 0;
  padding: 0.5rem 0 0.5rem;
  background-color: $color-foreground;
}
