div#page {
  background-color: var(--color-foreground);
  border-radius: var(--border-radius-full);

  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
}

.footer-padding {
  min-height: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
  border-radius: var(--border-radius-full) var(--border-radius-full) 0 0;
  padding: 0.5rem 0;
  background-color: var(--color-foreground);
}

.pagination {
  text-align: center;
  padding-top: 0.5rem;
  margin-top: auto;
}

.toggleable-container {
  width: max-content;

  &[data-content-visible="true"] {
    .link-show {
      display: none;
    }
  }

  &[data-content-visible="false"] {
    .link-hide, .toggleable-content {
      display: none;
    }
  }
}
