body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: Verdana, sans-serif;
  line-height: 1.25em;
  margin: 0 auto;
  padding: 0 1rem;

  /* Footer always at bottom */
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
}

header {
  margin: 0 0 0.8rem 0;
  padding: 0;
}

#page {
  background-color: var(--color-foreground);
  border-radius: var(--border-radius-full);

  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
}

footer {
  margin-top: auto;
  text-align: center;
  border-radius: var(--border-radius-full) var(--border-radius-full) 0 0;
  margin-top: 1rem;
  padding: 0.5rem 0;
  background-color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 0;
  }
}
