div#page {
  background-color: $color-foreground;
  border-radius: $border-radius-full;

  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
}

.footer-padding {
  min-height: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
  border-radius: $border-radius-full $border-radius-full 0 0;
  padding: 0.5rem 0 0.5rem;
  background-color: $color-foreground;
}

.pagination {
  text-align: center;
  padding-top: 0.5rem;
  margin-top: auto;
}

.hideable-search-container {
  width: max-content;

  &[data-form-visible="true"] {
    .hideable-search-show {
      display: none;
    }
  }

  &[data-form-visible="false"] {
    .hideable-search-hide, .hideable-search-form {
      display: none;
    }
  }
}
