header#top {
  background-color: var(--color-background);

  #nav {
    display: grid;
    grid-template-columns: 3.75rem 1fr;
    grid-template-areas: "logo primary" "logo secondary";

    .logo {
      grid-area: logo;

      margin-top: 0.3rem;
      background-image: url("../../public/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: center;
    }

    .primary-navbar {
      grid-area: primary;
    }

    .secondary-navbar {
      grid-area: secondary;
    }
  }

  menu {
    margin: 0;
    background-color: var(--color-foreground);
    border-radius: var(--border-radius-full);
    padding: 0.25rem 0;

    li {
      display: inline;
    }

    li a {
      padding: 0.3rem;
    }
  }

  .primary-navbar {
    margin-top: 0;
    background-color: var(--color-background);

    li a.current {
      background-color: var(--color-foreground);
      font-weight: bold;
    }
  }

  .secondary-navbar.empty li {
    visibility: hidden;
  }
}
