.simple_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 0.25em;
  width: min-content;

  .input {
    display: contents;

    label {
      text-align: right;
      white-space: pre;
    }

    input[type=file] {
      width: fit-content;
    }
  }
}
