.simple_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25em 1em;
  width: min-content;

  .input {
    display: contents;

    label {
      text-align: right;
      white-space: pre;
    }

    input[type="file"] {
      width: fit-content;
    }
  }
}
