table.table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--color-foreground);
  }


  thead {
    background-color: var(--color-table-section-darken-5);

    th {
      text-align: left;
      color: var(--color-text-darken-10);
      padding: 0.25rem;
    }
  }

  tbody {
    tr {
      background-color: var(--color-table-section);

      td {
        padding: 0.5rem 0.25rem;
        white-space: nowrap;
      }

      &:hover {
        background-color: var(--color-table-section-lighten-10);
      }
    }
  }
}
