version: "3"

x-environment: &common-env
  EXPOSED_VNC_PORT: ${EXPOSED_VNC_PORT:-7900}
  IQDB_URL: ${IQDB_URL:-http://iqdb:5588}
  SELENIUM_URL: ${SELENIUM_URL:-http://selenium:4444}

services:
  reverser:
    build:
      context: ./
      args:
        COMPOSE_PROFILES: ${COMPOSE_PROFILES-}
    image: reverser
    environment:
      <<: *common-env
    volumes:
      - .:/app
      - build_assets:/app/public/build
      - ${REVERSER_DATA_PATH:?}/active_storage:/app/public/storage
      - temp:/app/tmp
    tmpfs:
      - /app/tmp/cache
      - /app/tmp/pids
      - /app/tmp/sockets
    depends_on:
      - postgres
      - iqdb
      - selenium
    ports:
      - ${EXPOSED_SERVER_PORT:-9000}:9000
    command: foreman start --color

  solargraph:
    image: reverser
    entrypoint: solargraph socket -h 0.0.0.0 -p 7659
    working_dir: $PWD
    volumes:
      - .:$PWD
    ports:
      - 7659:7659
    profiles:
      - solargraph

  postgres:
    image: postgres:15.4-alpine
    environment:
      - POSTGRES_USER=reverser
      - POSTGRES_DB=reverser_development
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ${REVERSER_DATA_PATH:?}/db_data:/var/lib/postgresql/data
    shm_size: 256mb
    ports:
      - ${EXPOSED_POSTGRES_PORT:-34518}:5432

  iqdb:
    image: ghcr.io/e621ng/iqdb:d4fed9d9a51184e72d2f14d4ec461d7830bd177a
    volumes:
      - ${REVERSER_DATA_PATH:?}/iqdb_data:/iqdb

  selenium:
    image: selenium/standalone-chrome:4.12.1-20230912
    environment:
      - VNC_NO_PASSWORD=1
    shm_size: 2gb
    ports:
      - ${EXPOSED_VNC_PORT:-7900}:7900

  # Profiles for standalone things

  rubocop:
    image: reverser
    volumes:
      - .:/app
      - rubocop_cache:/rubocop_cache
    entrypoint: bundle exec rubocop --cache-root /rubocop_cache
    profiles:
      - rubocop

  tests:
    image: reverser
    environment:
      <<: *common-env
    volumes:
      - .:/app
    entrypoint: bundle exec rails test
    tmpfs:
      - /app/tmp/storage
    depends_on:
      - postgres
    profiles:
      - tests

volumes:
  build_assets:
  rubocop_cache:
  temp:
