version: "3"

x-environment: &common-env
  EXPOSED_VNC_PORT: ${EXPOSED_VNC_PORT:-7900}
  IQDB_URL: ${IQDB_URL:-http://iqdb:5588}
  SELENIUM_URL: ${SELENIUM_URL:-http://selenium:4444}
  DEV_MODE: ${DEV_MODE:-false}

services:
  reverser:
    build: ./
    image: reverser
    user: ${DOCKER_USER:-root}
    environment:
      <<: *common-env
      RAILS_SERVER_EXEC: bin/rails server -p ${EXPOSED_SERVER_PORT:-9000} -b 0.0.0.0 --pid /tmp/server.pid
      ESBUILD_EXEC: >-
        esbuild app/typescript/application.ts
        --target=chrome111,firefox111,safari16
        --bundle --sourcemap
        --outdir=public/build --loader:.png=file
        --entry-names=[name]-[hash] --metafile=public/build/manifest.json
        --watch=forever --color=true
      GOOD_JOB_EXEC: bundle exec good_job --queues=scraping:1;e6_iqdb:1;variant_generation:5;default:1;submission_download:5
    volumes:
      - .:/app
      - build_assets:/app/public/build
      - ${REVERSER_DATA_PATH:?}/active_storage:/app/public/storage
    depends_on:
      postgres:
        condition: service_healthy
      iqdb:
        condition: service_started
      selenium:
        condition: service_started
    ports:
      - ${EXPOSED_SERVER_PORT:-9000}:${EXPOSED_SERVER_PORT:-9000}
    command: foreman start --color

  postgres:
    image: postgres:16.1-alpine3.19
    environment:
      - POSTGRES_USER=reverser
      - POSTGRES_DB=reverser_development
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ${REVERSER_DATA_PATH:?}/db_data:/var/lib/postgresql/data
    shm_size: 256mb
    ports:
      - ${EXPOSED_POSTGRES_PORT:-34518}:5432
    healthcheck:
      test: [CMD-SHELL, pg_isready -d reverser_development -U reverser]
      interval: 10s
      timeout: 5s
      retries: 5

  iqdb:
    image: ghcr.io/e621ng/iqdb:b988f000f17008677c7546c0c13623bc956b585d
    volumes:
      - ${REVERSER_DATA_PATH:?}/iqdb_data:/iqdb

  selenium:
    image: selenium/standalone-chrome:4.16.1-20231212
    environment:
      - SE_VNC_NO_PASSWORD=1
    shm_size: 2gb
    ports:
      - ${EXPOSED_VNC_PORT:-7900}:7900

  # Profiles for standalone things

  rubocop:
    image: reverser
    volumes:
      - .:/app
    entrypoint: bundle exec rubocop
    profiles:
      - rubocop

  yamllint:
    build:
      dockerfile_inline: |
        FROM python:3.11-alpine3.19
        RUN pip install yamllint==1.32.0
        WORKDIR /app
    volumes:
      - .:/app
    entrypoint: yamllint -c .github/yamllint.yml -s .
    profiles:
      - yamllint

  csslint:
    build:
      dockerfile_inline: |
        FROM node:20-alpine3.19
        RUN npm install stylelint@15.11.0 stylelint-config-standard@34.0.0 -g
        WORKDIR /app
    volumes:
      - .:/app
    entrypoint: stylelint "**/*.css" --config .github/.stylelintrc.json
    profiles:
      - csslint

  tslint:
    build:
      dockerfile_inline: |
        FROM node:20-alpine3.19
        RUN npm install typescript@5.2.2 -g
        WORKDIR /app
    volumes:
      - .:/app
    entrypoint: tsc --noEmit -p .github/tsconfig.json
    profiles:
      - tslint

  tests:
    image: reverser
    environment:
      <<: *common-env
      VIPS_WARNING: "0"
    volumes:
      - .:/app
    entrypoint: bundle exec rails test
    tmpfs:
      - /app/tmp/storage
    depends_on:
      postgres:
        condition: service_healthy
    profiles:
      - tests

volumes:
  build_assets:
