x-environment: &common-env
  EXPOSED_VNC_PORT: ${EXPOSED_VNC_PORT:-7900}
  IQDB_URL: ${IQDB_URL:-http://iqdb:5588}
  SELENIUM_URL: ${SELENIUM_URL:-http://selenium:4444}

services:
  foxtrove:
    build:
      context: ./
      args:
        HOST_UID: ${HOST_UID:-1000}
        HOST_GID: ${HOST_GID:-1000}
        DOCKER_RUN_AS_USER: ${DOCKER_RUN_AS_USER:-}
    image: foxtrove
    environment:
      <<: *common-env
      RAILS_SERVER_EXEC: bin/rails server -p ${EXPOSED_SERVER_PORT:-9000} -b 0.0.0.0 --pid /tmp/server.pid
      ESBUILD_EXEC: >-
        esbuild app/typescript/application.ts
        --target=chrome111,firefox111,safari16
        --bundle --sourcemap
        --outdir=public/build --loader:.png=file
        --entry-names=[name]-[hash] --metafile=public/build/manifest.json
        --watch=forever --color=true
      GOOD_JOB_EXEC: bundle exec good_job --queues=scraping:1;e6_iqdb:1;variant_generation:5;default:1;submission_download:5
    volumes:
      - .:/app
      - ${FOXTROVE_DATA_PATH:-./data}/active_storage:/app/public/storage
    depends_on:
      - postgres
      - iqdb
      - selenium
    ports:
      - ${EXPOSED_SERVER_PORT:-9000}:${EXPOSED_SERVER_PORT:-9000}
    command: foreman start --color

  postgres:
    image: postgres:${POSTGRES_IMAGE_VERSION:-17.7-alpine3.23}
    environment:
      - POSTGRES_USER=foxtrove
      - POSTGRES_DB=foxtrove_development
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ${FOXTROVE_DATA_PATH:-./data}/db_data:/var/lib/postgresql/data
    shm_size: 256mb
    ports:
      - ${EXPOSED_POSTGRES_PORT:-34518}:5432
    healthcheck:
      test: [CMD-SHELL, pg_isready -d foxtrove_development -U foxtrove]
      interval: 10s
      timeout: 5s
      retries: 5

  iqdb:
    image: ghcr.io/earlopain/iqdb:307ea8bd3c40eedcdbb517c1da2e9d3737241da4
    volumes:
      - ${FOXTROVE_DATA_PATH:-./data}/iqdb_data:/iqdb

  selenium:
    image: selenium/standalone-chrome:4.38.0-20251101
    environment:
      - SE_VNC_NO_PASSWORD=1
    shm_size: 2gb
    ports:
      - ${EXPOSED_VNC_PORT:-7900}:7900

  # Profiles for standalone things

  rubocop:
    image: foxtrove
    volumes:
      - .:/app
    entrypoint: bundle exec rubocop
    profiles:
      - rubocop

  yamllint:
    build:
      dockerfile_inline: |
        FROM python:3.14-alpine3.23
        RUN pip install yamllint==1.37.1
        WORKDIR /app
    volumes:
      - .:/app
    entrypoint: yamllint -c .github/yamllint.yml -s .
    profiles:
      - yamllint

  csslint:
    build:
      dockerfile_inline: |
        FROM node:24-alpine3.23
        RUN npm install stylelint@16.25.0 stylelint-config-standard@39.0.1 -g
        WORKDIR /app
    volumes:
      - .:/app
    entrypoint: stylelint "**/*.css" --config .github/.stylelintrc.json
    profiles:
      - csslint

  tslint:
    build:
      dockerfile_inline: |
        FROM node:24-alpine3.23
        RUN npm install typescript@5.9.3 -g
        WORKDIR /app
    volumes:
      - .:/app
    entrypoint: tsc --noEmit -p .github/tsconfig.json
    profiles:
      - tslint

  tests:
    image: foxtrove
    environment:
      <<: *common-env
      VIPS_WARNING: "0"
    volumes:
      - .:/app
    entrypoint: bundle exec rails test
    depends_on:
      postgres:
        condition: service_healthy
    profiles:
      - tests
