version: "3"

services:
  reverser:
    build: ./
    image: reverser
    environment:
      # Don't make bootsnap part of the tmpfs
      BOOTSNAP_CACHE_DIR: /
    volumes:
      - .:/app
      - build_assets:/app/public/build
      - active_storage:/app/public/storage
      - node_modules:/app/node_modules
      - yarn:/app/.yarn
      - bootsnap:/bootsnap
      - temp:/app/tmp
    tmpfs:
      - /app/tmp/cache
      - /app/tmp/pids
      - /app/tmp/sockets
    depends_on:
      - postgres
      - redis
      - memcached
      - iqdb
      - selenium
    ports:
      - 9000:9000
    tty: true

  postgres:
    image:  postgres:14-alpine
    environment:
      - POSTGRES_USER=reverser
      - POSTGRES_DB=reverser_development
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  redis:
    image: redis:alpine
    command: redis-server --save 10 1 --loglevel warning
    volumes:
      - redis_data:/data

  memcached:
    image: memcached:alpine

  iqdb:
    image: ghcr.io/earlopain/iqdb:de8f10e2ddd862c37dc39348d6cb1c30112be146 
    volumes:
      - iqdb_data:/iqdb

  selenium:
    image: selenium/standalone-chrome:4.2.1-20220608
    environment:
      - VNC_NO_PASSWORD=1
    shm_size: 2gb
    ports:
      - 7900:7900

  # Profiles for standalone things

  rubocop:
    image: reverser
    volumes:
      - .:/app
    entrypoint: bundle exec rubocop .
    profiles: 
      - "rubocop"

  rspec:
    image: reverser
    volumes:
      - .:/app
    entrypoint: bundle exec rspec --require spec_helper --order random
    depends_on:
      - postgres
      - redis
      - memcached
      - iqdb
      - selenium
    profiles: 
     - "rspec"

volumes:
  db_data:
  redis_data:
  iqdb_data:
  build_assets:
  active_storage:
  node_modules:
  yarn:
  bootsnap:
  temp:
