<%= render "secondary_links" %>

Name: <%= @artist.name %>
<br>

Links:
<div class="url-list">
  <% @artist.artist_urls.each do |url| %>
    <%= render "artist_link", url: url %>
  <% end %>
</div>

<% @recent_submission_files.each do |file| %>
  <%= render "submission_files/sample", submission_file: file %>
<% end %>
