<h3>Backlog for <%= @user.name %></h3>

<%= render "submission_files/search", path: backlog_user_path(current_user), artist_urls: backlog_artist_urls_collection(current_user) %>

<% @submission_files.each do |file| %>
  <%= render "submission_files/sample", submission_file: file if file.original.analyzed? && file.sample&.attached? %>
<% end %>
<%= paginated @submission_files %>

<% page_title "Backlog for #{@user.name}" %>
