$color-background:             #020f23;
$color-foreground:             #152f56;
$color-text:                   #ffffff;
$color-link:                   #b4c7d9;
$color-link-hover:             #e9f2fa;
$color-link-active:            #e8c446;
