$color-background:             #000000;
$color-foreground:             #222222;
$color-text:                   #ffffff;
$color-link:                   #ffee95;
$color-link-hover:             #f68b00;
$color-link-active:            #ffffff;
