a, a:link, a:visited, .link {
  color: $color-link;
  text-decoration: none;
  user-select: none;
}

a:hover, .link:hover {
  color: $color-link-hover;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  color: $color-link-active;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}
