a, a:link, a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

a:active {
  color: var(--color-link-active);
  text-decoration: none;
}

a.active {
  font-weight: bold;
}
