@mixin site_icon($icon_size) {
  font-size: $icon_size;
  white-space: nowrap;

  .site-icon-text {
    padding-left: 0.5rem;
  }

  .site-icon {
    vertical-align: middle;
    &::before {
      content: "";
      width: $icon_size;
      height: $icon_size;
      display: inline-block;
      background: url("/icons.png");
      background-size: $icon_size;
      background-position: 0px calc(var(--icon-index) * #{$icon_size} * -1);
    }
  }
}
