$icons: (
  "afterdark"
  "artconomy"
  "artfight"
  "artstation"
  "baraag"
  "boosty"
  "buzzly"
  "carrd"
  "commishes"
  "deviantart"
  "discord"
  "facebook"
  "fanbox"
  "furaffinity"
  "furrynetwork"
  "furrystation"
  "gumroad"
  "hentai_foundry"
  "inkbunny"
  "instagram"
  "kofi"
  "linktree"
  "newgrounds"
  "patreon"
  "pawoo"
  "picarto"
  "piczel"
  "pillowfort"
  "pixiv"
  "reddit"
  "skeb"
  "sofurry"
  "subscribestar"
  "telegram"
  "toyhouse"
  "tumblr"
  "twitch"
  "twitter"
  "vkontakte"
  "weasyl"
  "ychart"
  "youtube"
);

@mixin site_icon($icon_size) {
  font-size: $icon_size;
  white-space: nowrap;

  .site-icon-text {
    padding-left: 0.5rem;
  }

  // Arrays start at 1!?
  @for $i from 0 through length($icons) - 1 {
    $icon: nth($icons, $i + 1);

    .site-icon-#{$icon} {
      vertical-align: middle;
      &::before {
        content: "";
        width: $icon_size;
        height: $icon_size;
        display: inline-block;
        background: url("/build/icons.png");
        background-size: $icon_size;
        background-position: 0px calc(-#{$i} * #{$icon_size});
      }
    }
  }
}
