$icons: (
  "artstation"
  "baraag"
  "carrd"
  "commishes"
  "deviantart"
  "discord"
  "facebook"
  "fanbox"
  "furaffinity"
  "furrynetwork"
  "gumroad"
  "hentai_foundry"
  "inkbunny"
  "instagram"
  "kofi"
  "linktree"
  "newgrounds"
  "patreon"
  "pawoo"
  "picarto"
  "pillowfort"
  "pixiv"
  "reddit"
  "skeb"
  "sofurry"
  "subscribestar"
  "telegram"
  "tumblr"
  "twitch"
  "twitter"
  "vkontakte"
  "weasyl"
  "youtube"
);

@mixin icon_with_text($icon_size) {
  font-size: $icon_size;
  white-space: nowrap;
  // Arrays start at 1!?
  @for $i from 0 through length($icons) - 1 {
    $icon: nth($icons, $i + 1);

    .site-icon-#{$icon}::before {
      content: "";
      width: $icon_size;
      height: $icon_size;
      display: inline-block;
      background: url("/build/icons.png");
      background-size: $icon_size;
      background-position: 0px calc(-#{$i} * #{$icon_size});
    }
  }
}
