.site-icon-wrapper {
  --_icon-size: var(--icon-size, 1rem);
  font-size: var(--_icon-size);
  white-space: nowrap;

  .site-icon {
    vertical-align: middle;
    &::before {
      content: "";
      width: var(--_icon-size);
      height: var(--_icon-size);
      display: inline-block;
      background: url("/icons.png");
      background-size: var(--_icon-size);;
      background-position: 0px calc(var(--icon-index) * var(--_icon-size) * -1);
    }
  }
}
