<h1>Similar Images Search</h1>
<%= render "search" %>
<br>
<div>
  <% @result.each do |entry| %>
    <%= render "submission_files/sample", submission_file: entry[:submission], similarity: entry[:score] %>
  <% end %>
</div>

<% page_title "IQDB Results" %>
