<%# locals: () -%>
Register an application at <a href="https://baraag.net/settings/applications">https://baraag.net/settings/applications</a>.
<br> Remove write and follow scopes. Open the new application to view the access token.
