<%# locals: () -%>
Register an application at <a href="https://www.deviantart.com/developers/register">https://www.deviantart.com/developers/register</a>.
<br>The redirect URI must be set to <code>http://localhost</code>. Publish the App after creation.
