<%# locals: () -%>
Account Settings: <a href="https://www.furaffinity.net/controls/settings">https://www.furaffinity.net/controls/settings</a>
<br>Set timezone to 00:00 without daylight saving correction. Modern Theme required.
