<%# locals: () -%>
Register an application at <a href="https://www.reddit.com/prefs/apps">https://www.reddit.com/prefs/apps</a>.
<br>Set type to script. Use <code>http://localhost</code> for the redirect URI.
