<%# locals: () -%>
Register an application at <a href="https://www.tumblr.com/oauth/apps">https://www.tumblr.com/oauth/apps</a>.
<br>Use <code>http://localhost</code> for the Callback URL.
<br>Copy the consumer key and secret from the overview page. Copy the oauth key and secret by viewing the application.
<br><br>Click "Explor API" on the overview page and fill in the values.
<br>Go to "Blog -> Info" in the sidebar, select <code>OAuth 2.0</code> for Authentication.
<br>Click on "Example Output" and search for <code>uuid</code> in the result. This is your <code>reblog_blog_uuid</code>.
