.error-params {
  background-color: var(--color-foreground-darken-5);
  padding: 0.5rem;
  border-radius: var(--border-radius-full);

  pre {
    font-family: inherit;
    margin: 0;
  }
}

.error-backtrace {
  background-color: var(--color-foreground-darken-5);
  border-radius: var(--border-radius-full);
  padding: 0.5rem 0;

  .error-backtrace-line {
    padding-left: 0.5rem;
  }
}
