.error-params {
  background-color: darken($color-foreground, 5%);
  padding: 0.5rem;
  border-radius: $border-radius-full;

  pre {
    font-family: inherit;
    margin: 0;
  }
}

.error-backtrace {
  background-color: darken($color-foreground, 5%);
  border-radius: $border-radius-full;
  padding: 0.5rem 0;

  .error-backtrace-line {
    padding-left: 0.5rem;
  }
}
