<% similarity ||= nil %>
<%= tag.div class: "submission-sample", data: { id: submission_file.id } do %>
  <% if submission_file.sample_generated? %>
    <div class="file-container">
      <% if submission_file.sample.content_type.in? %w[image/jpeg image/gif] %>
        <%= submission_file_tag(submission_file) %>
      <% else %>
        Unhandled content_type <%= submission_file.sample.content_type %>
      <% end %>
    </div>
  <% else %>
    Sample not generated
  <% end %>
  <%= render "submission_files/stats", submission_file: submission_file, similarity: similarity %>
<% end %>
