<h3>Submission Files</h3>

<div class="search">
  <%= render "submission_files/search", path: submission_files_path, artist_urls: [] %>
</div>

<% @submission_files.each do |file| %>
  <%= render "submission_files/sample", submission_file: file %>
<% end %>

<% page_title "Submission Files" %>
