<%# locals: () -%>

<% unless DockerEnv.specifies_postgres_version? %>
  <div>
    Please add <code>POSTGRES_IMAGE_VERSION=18</code> to your <code>.env</code> file to remove this warning.
    <br>Alternatively, set <code>POSTGRES_AUTOMATIC_VERSION=1</code> to do unattended version updates, which will
    require you to do ~yearly database maintenance when they happen.
  </div>
<% end %>
