<%# locals: () -%>

<% if DockerEnv.specifies_docker_user? %>
  <div>
    The environment variable <code>DOCKER_USER</code> got replaced by <code>DOCKER_RUN_AS_USER</code>.
    <br>Please specify <code>DOCKER_RUN_AS_USER=1</code> and remove <code>DOCKER_USER</code> in your <code>.env</code> file to remove this warning.
  </div>
<% end %>

<% if DockerEnv.specifies_deprecated_data_path? %>
  <div>
    The environment variable <code>REVERSER_DATA_PATH</code> got replaced by <code>FOXTROVE_DATA_PATH</code>.
    <br>Please rename it in your <code>.env</code> file to remove this warning.
  </div>
<% end %>

<% unless DockerEnv.specifies_postgres_version? %>
  <div>
    Please add <code>POSTGRES_IMAGE_VERSION=17</code> to your <code>.env</code> file to remove this warning.
    <br>Alternatively, set <code>POSTGRES_IMAGE_VERSION=1</code> to do unattended version updates, which will
    require you to do ~yearly database maintenance when they happen.
  </div>
<% end %>
