<%# locals: () -%>

<h3>Your current Docker image is outdated, it is recommended to perform a rebuild:</h3>
<ol style="margin-top: 0">
  <li><code>docker compose down</code></li>
  <li><code>docker compose build</code></li>
  <li><code>docker compose up</code></li>
</ol>
<p>
  Old: <code><%= DockerEnv.master_commit %></code>
  New: <code><%= GitHelper.last_commit_hash %></code><br>
</p>
