<h1><%= @exception.class.to_s %> exception raised</h1>

<pre><%= @exception.message.dup.force_encoding("utf-8") %></pre>

<h2>Request</h2>
<div class="error-params">
  <pre><%= JSON.pretty_generate(@params) %></pre>
</div>

<h2>Stacktrace</h2>
<div class="error-backtrace">
  <% Rails.backtrace_cleaner.clean(@exception.backtrace).each do |b| %>
    <div class="error-backtrace-line"><%= b %></div>
  <% end %>
</div>

<% page_title "Something went wrong" %>
