<h1>Sidekiq Stats</h1>

Pending Scraping: <%= SidekiqStats.scraping_queued.values.sum %>
<br>
Pending Submission File Downloads: <%= SidekiqStats.submission_download_queued.values.sum %>
<br>
Pending E6 IQDB Calls: <%= SidekiqStats.e6_iqdb_queued.values.sum %>
<br><br>

<% @artist_urls.each do |url| %>
  <%= render "artists/artist_link", url: url %>
<% end %>
